<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.connection.driver_class">
            com.p6spy.engine.spy.P6SpyDriver
        </property>

        <property name="hibernate.connection.url">
            jdbc:p6spy:mysql://localhost:3306/project2h?useSSL=false&amp;serverTimezone=UTC
        </property>

        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Juice999wrld!</property>
        
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>


        <property name="hibernate.hbm2ddl.auto">validate</property>

        <mapping class="org.example.entity.Country"/>
        <mapping class="org.example.entity.City"/>
        <mapping class="org.example.entity.Address"/>
        <mapping class="org.example.entity.Staff"/>
        <mapping class="org.example.entity.Store"/>
        <mapping class="org.example.entity.Customer"/>
        <mapping class="org.example.entity.Film"/>
        <mapping class="org.example.entity.FilmText"/>
        <mapping class="org.example.entity.Category"/>
        <mapping class="org.example.entity.Actor"/>
        <mapping class="org.example.entity.Language"/>
        <mapping class="org.example.entity.Inventory"/>
        <mapping class="org.example.entity.Rental"/>
        <mapping class="org.example.entity.Payment"/>

    </session-factory>
</hibernate-configuration>
